
extends base.pug

block content
    video(src=`/${video.videoUrl}`, controls)
    div
        p=video.description
        small #{video.createdAt} 
        br
        small Uploaded By 
            a(href=`/users/${video.owner._id}`) #{video.owner.username}
    if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
    else