
extends base.pug

block content
    div.watch-section
        video(src=`/${video.videoUrl}`, controls).watch__video
        div.user-section
            div.user-section__column
                h4=video.title
                div.video-section__icon
                    if String(video.owner._id) === String(loggedInUser._id)
                        a(href=`${video.id}/edit`)
                            i.fab.fa-solid.fa-pencil
                        br
                        a(href=`${video.id}/delete`) 
                            i.fab.fa-solid.fa-trash-can

            p=video.description
            div.user-section__create
                small Uploaded By 
                    a(href=`/users/${video.owner._id}`) #{video.owner.username}
                small #{`${video.createdAt.getFullYear()}.${video.createdAt.getMonth()}.${video.createdAt.getDay()}`} 